/* Basic Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #3f704d; /* Rich green background */
  color: #ffffff; /* White text for contrast */
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e5637; /* Darker green for navbar */
  padding: 20px 40px;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

header .slogan {
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 150px 20px;
}

.hero h1 {
  font-size: 72px; /* Make the headline BIG */
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2e5637;
  color: #ffffff;
}

.logo img {
  height: 40px;
  width: auto;
}

