/* Basic Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #DDD4C6 /*米黄色*/
  color: #DDD4C6 /*米黄色*/
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DDD4C6 /*米黄色*/
  padding: 20px 40px;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #2F1B12;/*brown*/
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

header .slogan {
  font-size: 14px;
}

.hero {
  width: 100%;
  height: 500px; /* or any height you like */
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2e5637;
  color: #2F1B12;/*brown*/
}


.logo img {
  height: 40px;
  width: auto;
  display: block;
}

nav {
  display: flex;
  gap: 30px; /* space between links */
}

nav a {
  color: #fff; /* or your color */
  text-decoration: none;
  font-weight: bold;
}

.slogan {
  color: #fff;
  font-size: 14px;
}


.about,
.contact,
.product {
  text-align: center;
  padding: 100px 20px;
  font-size: 24px;
}


.logo a {
  text-decoration: none;
  display: inline-block;
}



