<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>J&C Indoor Gardening</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2" />

</head>
<body>
  <header>
    <div class="logo">
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/JNClogo.png') }}" alt="J&C Logo" />
      </a>
    </div>



    <nav>
  <a href="{{ url_for('about') }}">About Us</a>
  <a href="{{ url_for('product') }}">Products</a>
  <a href="{{ url_for('contact') }}">Contact Us</a>
    </nav>

    <div class="slogan">Grow and Glow</div>
  </header>

  {% block content %}{% endblock %}

  <footer>
    Grow and Glow
  </footer>
</body>
</html>

<!-- Force commit -->

