{% extends "base.html" %}

{% block content %}
  <section class="contact">
    <h1>Contact Us</h1>
    <p>
      We are eager to receive any feedback from our customers.
      Our goal is to provide valuable and worthy products and services to our customers,
      and do our best to offer one-stop service.
    </p>
    <p>📞 0571-89803208</p>
    <p>✉️ sales@jnclighting.com</p>
    <p>🏢 4F, No.7 Building, HuoShui Industrial Zone,
      No.95 BinWen Road, Xixing Street, Binjiang District,
      Hangzhou, Zhejiang</p>
  </section>
{% endblock %}
